@use 'sass:map';
@use 'sass:meta';

/* ------------------- Breakpoints Widths ------------------- */
@mixin screen-up($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media #{meta.inspect(map.get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map.keys($breakpoints)}.";
  }
}

// max-width (container-width)
@mixin screen-down($widths) {
  @if map.has-key($max-widths, $widths) {
    @media #{meta.inspect(map.get($max-widths, $widths))} {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$widths}`. "
        + "Available breakpoints are: #{map.keys($max-widths)}.";
  }
}

/* ------------------- ::after ------------------- */
@mixin pseudo(
  $width: 100%,
  $height: 100%,
  $display: inline-block,
  $pos: absolute,
  $content: ''
) {
  content: $content;
  display: $display;
  position: $pos;
  @include box($width, $height);
}

/* ------------------- text-ellipsis ------------------- */
@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* ------------------- margin-auto ------------------- */
@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;
}
