// variables
$base: #1b1c1d;

// setTheme map
// prettier-ignore
$set-theme: (
    'base-shades': (
      'base':   $base,
      'base-1': lighten($base, 10%),
      'base-2': lighten($base, 20%),
      'base-3': lighten($base, 30%),
      'base-4': lighten($base, 80%),
      'base-5': lighten($base, 85%),
    ),
);

// setTheme palette
$base-colors: map-get($set-theme, 'base-shades');

// classname
$classname: (
  'color': color,
  'border': border-color,
  'bg': background-color,
);

// :root mixin
@mixin setTheme($set-theme) {
  @each $name, $color in $base-colors {
    --#{$name}: #{$color};
  }
}

// class mixin
@mixin setThemeClass($set-theme) {
  @each $name, $color in $base-colors {
    @each $selector, $property in $classname {
      .#{$selector}-#{$name} {
        #{$property}: $color;
      }
    }
  }
}

:root {
  @include setTheme($set-theme);
}

@include setThemeClass($set-theme);
