$theme: (
  'light': (
    'base-color': $color-palette,
    'theme-color': (
      'theme-bg': $gray-1,
      'theme-layer': $gray-2,
      'theme-border': $gray-3,
      'theme-text': $gray-6,
      'theme-heading': $gray-7,
      'theme-accent': $gray-9,
    ),
  ),
  'dark': (
    'base-color': $color-palette,
    'theme-color': (
      'theme-bg': $gray-9,
      'theme-layer': $gray-7,
      'theme-border': $gray-6,
      'theme-text': $gray-3,
      'theme-heading': $gray-2,
      'theme-accent': $gray-1,
    ),
  ),
);

$transition-bg: all 0.1s cubic-bezier(0.185, 0.475, 0.895, 0.39);

@each $theme-name, $theme-vars in $theme {
  $theme-color: map-get($theme-vars, 'theme-color');
  $base-color: map-get($theme-vars, 'base-color');

  [data-theme='#{$theme-name}'] {
    @each $name, $color in $theme-color {
      --#{''+$name}: #{$color};
    }
    @each $name, $color in $base-color {
      --#{''+$name}: #{$color};
    }
  }
  // @media (prefers-color-scheme: '#{$theme-name}') {
  // }
}

body {
  background-color: var(--theme-bg);
  color: var(--theme-text);
  transition: $transition-bg;
}
